# Nextflow metadata and logs
.nextflow/
.nextflow.log*
nxflog-*

# Execution reports (if you generate them)
report.html*
timeline.html*
trace.txt*
dag.dot*

.env
.DS_Store
.Rhistory
.RData
.Rproj.user/
__pycache__/
.ipynb_checkpoints/

raw_data/
work/
plots/
results/
data/
*.tar.gz
*.mtx
*.tsv
*.csv
*.rds
*.h5
