// Pulls from .env, or uses a placeholder if the variable isn't found
params.bucket = System.getenv('S3_BUCKET_NAME') ?: 'no-bucket-provided'

params {
    tissue  = "unkwon"    
    species = "unkwon"
    project_name = "default_project"
    outdir       = "results/${params.project_name}"
    links_file   = "samples.txt"
}

// Forces Nextflow to use the local 'work' directory by default
// This ensures the -resume flag works perfectly across days.
workDir = "work"

process {
    conda = "${projectDir}/environment.yml"
}

conda.enabled = true
