// Set a stable session timestamp ONLY if one isn't provided
// This ensures that during a single execution, the ID is constant.
def session_timestamp = new Date().format("yyyyMMdd-HHmm")

params {
    project_id = "unnamed_project"
    
    // Use the stable session timestamp
    run_id     = "${params.project_id}-${session_timestamp}"

    input_dir  = "s3://${params.bucket}/data/${params.project_id}"
    outdir     = "s3://${params.bucket}/results/${params.run_id}"
    work_dir   = "s3://${params.bucket}/work/${params.project_id}"
}

workDir = params.work_dir